{% extends 'base.html.twig' %}



{% block body %}



    <div class="card-header">


        <div class="row">
            <div>
                <label for="exampleFormControlSelect1">Zakázka: </label>
            </div>

            <select class="form-control col-md-1 mr-sm-2 control-label" id="ContractId">
                <option>{{ contract }}</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

            <div>        
                <span class="badge badge-secondary">
                    {{ rows_contract }} 
                </span>
                / 
                <span class="badge badge-dark">
                    {{ rows_item }}
                </span>
            </div>
        </div>

    </div>
    {% set i=1 %}
    {% if app.user != null %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Pol.</th>
                    <th scope="col">Název</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Nadřazená pol.</th>
                    <th scope="col">Varianta</th>
                    <th scope="col">Uživatel</th>
                    <th scope="col">Odsazení</th>
                </tr>
            </thead>

            {% for row in XXX %}    

                <tr>
                    <td>{{ row.id }}</td>
                    <td>
                        <div id="exampleAccordion" data-children=".item">
                            <div class="item">
                                {% if row.indentation != 0 %}
                                {% for ods in 1..row.indentation %}
                                    -
                                {% endfor %}
                                {% endif %}
                                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion{{i}}" aria-expanded="false" aria-controls="exampleAccordion{{i}}">
                                    {{ row.name }}
                                </a>
                                <div id="exampleAccordion{{i}}" class="collapse" role="tabpanel">

                                    Varianty .......

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{ row.type.code }}</td>
                    <td>{{ row.upperId }}</td>
                    <td>{{ row.variantId }}</td>
                    <td>{{ row.user.username }}</td>
                    <td>{{ row.indentation }}</td>
                </tr> 
                {% set i=i+1 %}                  
            {% endfor %}

        </table>
    {% endif %}
    
    {% if app.user == null %}
        <div class="alert alert-info" role="alert">
            This is a info alert with <a href="/login" class="alert-link">K aplikaci je třeba se přihlásit >></a>
        </div>
    {% endif %}

{% endblock %}