
{% extends 'base.html.twig' %}

{% block header %}
    {% include '/navbar.html.twig' %}
    <div class="card-header">
        <div class="row">

            <div class="col col-md">        
                <span class="badge badge-secondary">
                    {{ rows_contract }} 
                </span>
                / 
                <span class="badge badge-dark">
                    {{ rows_item }}
                </span>
            </div>
        </div>
    </div>


{% endblock %}

{% block body %}
    {% if app.user != null %}
        <div class="card-body" >    
            <div class="row">  
                <div class="scrollable-panel col col-2" id="left-panel">
                    {% for row in XXX %}  
                        <div class="row">
                            <div class="col col-lg left-tree">
                                <a class="btn btn-light btn-sm col-md left-tree" href="{{ path('list') }}?id={{row.id}}" role="button">
                                    <div class="row">

                                        {%if row.lvl > 0 %}
                                            {% for ind in 1..row.lvl %}
                                                <div class="col col-sm-1">                                 
                                                </div>       
                                            {% endfor %}
                                        {% endif %}
                                        <div class="col col-md" data-toggle="tooltip" data-html="true" title="Kód položky: {{ row.type.code }}">

                                            {{ row.title }}

                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col col-10" id="main-panel">

                    {% if selected_item >= 1 %}
                        <style>.card-body {margin:15px;}</style>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <label class="lead">Obecné informace o položce</label>
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">                 
                                            <span aria-hidden="true">&#9661;</span>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">

                                        <form>
                                            <div class="form-group row">

                                                <label for="item_id" class="col-sm-2 col-form-label">ID:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" readonly class="form-control" id="item_id" placeholder="{{selected_item}}">
                                                </div>

                                                <label for="parent_id" class="col-sm-2 col-form-label">ID nadřazené pol.:</label>
                                                <div class="col-sm-4">
                                                    {% if  XXX[selected_item - 1].getParent() != null %}
                                                        <input type="text" readonly class="form-control" id="parent_id" placeholder="{{XXX[selected_item - 1].getParent.getId()}}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group row">

                                                <label for="item_name" class="col-sm-2 col-form-label">Název položky:</label>
                                                <div class="col-sm-10">

                                                    <input type="text"  class="form-control " id="item_name" value="{{XXX[selected_item - 1].getTitle()}}">

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="parent_name" class="col-sm-2 col-form-label">Nadřazená položka:</label>
                                                <div class="col-sm-10">
                                                    {% if  XXX[selected_item - 1].getParent() != null %}
                                                        <input type="text" readonly class="form-control btn-link" id="parent_name" value="{{XXX[selected_item - 1].getParent.getTitle()}}" onClick="window.location = '{{ path('list') }}?id={{XXX[selected_item - 1].getParent.getId()}}';">
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary mb-2">Uložit</button>
                                        </form> 

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <label class="lead">Nákupní informace o položce</label>
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">                 
                                            <span aria-hidden="true">&#9661;</span>
                                        </button>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">

                                        <form>
                                            <div class="form-group row">
                                                <label for="type_code" class="col-sm-2 col-form-label">Kód položky</label>
                                                <div class="col-sm-10">
                                                    <input type="text"  class="form-control" id="item_name" value="{{XXX[selected_item-1].getType().getCode()}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="type_label" class="col-sm-2 col-form-label">Popis typu:</label>
                                                <div class="col-sm-10">
                                                    <input type="text"  class="form-control" id="type_label" placeholder="{{XXX[selected_item-1].getType().getName()}}">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mb-2">Uložit</button>
                                        </form>               
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <label class="lead">Ostatní informace o položce</label>
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">                 
                                        <span aria-hidden="true">&#9661;</span>
                                    </button>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group row">
                                                <label for="user" class="col-sm-2 col-form-label">Uživatel</label>
                                                <div class="col-sm-10">
                                                    <input type="text"  readonly class="form-control" id="user" value="{{XXX[selected_item-1].getUser().getFirstname()}} {{XXX[selected_item-1].getUser().getSurename()}}">
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary mb-2">Uložit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Vyberte položku ze stromu. </strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}



                </div> 

            </div>
        {% endif %}
        {% if app.user == null %}
            <div class="alert alert-info" role="alert">
                This is a info alert with <a href="{{ path('login') }}" class="alert-link">K aplikaci je třeba se přihlásit >></a>
            </div>
        {% endif %}
    </div>
    {#{{ tree|raw }}#}
{% endblock %}

{% block footer %}
    <div class="card-footer text-muted">
        <div class="row justify-content-start">
            <div class="col-1">
                <select class="form-control col control-label" id="ContractId">
                    <option>{{ contract }}</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

        </div>
    </div>
{% endblock %}