
{% extends 'base.html.twig' %}

{% block header %}
    <div class="card-header">
        <div class="row">

            <div class="col col-md">        
                <span class="badge badge-secondary">
                    {{ rows_contract }} 
                </span>
                / 
                <span class="badge badge-dark">
                    {{ rows_item }}
                </span>
            </div>
        </div>
    </div>


{% endblock %}

{% block body %}
    {% if app.user != null %}
        <div class="card-body" >    
            <div class="row">  
                <div class="scrollable-panel col col-2" id="left-panel">
                    {% for row in XXX %}  
                        <div class="row">
                            <div class="col col-lg left-tree">
                                <a class="btn btn-light btn-sm col-md left-tree" href="{{ path('list') }}?id={{row.id}}" role="button">
                                    <div class="row">

                                        {%if row.lvl > 0 %}
                                            {% for ind in 1..row.lvl %}
                                                <div class="col col-sm-1">                                 
                                                </div>       
                                            {% endfor %}
                                        {% endif %}
                                        <div class="col col-md" data-toggle="tooltip" data-html="true" title="Kód položky: {{ row.type.code }}">

                                            {{ row.title }}

                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-col-10" id="main-panel">
                    Hlavní okno
                </div>
            </div>
        {% endif %}
        {% if app.user == null %}
            <div class="alert alert-info" role="alert">
                This is a info alert with <a href="{{ path('login') }}" class="alert-link">K aplikaci je třeba se přihlásit >></a>
            </div>
        {% endif %}
    </div>
    {#{{ tree|raw }}#}
{% endblock %}

{% block footer %}
    <div class="card-footer text-muted">
        <div class="row justify-content-start">
            <div class="col-1">
                <select class="form-control col control-label" id="ContractId">
                    <option>{{ contract }}</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

        </div>
    </div>
{% endblock %}