{% extends 'base.html.twig' %}



{% block body %}



    <div class="card-header">


        <div class="row">
            <div>
                <label for="exampleFormControlSelect1">Zakázka: </label>
            </div>
          
                <select class="form-control col-md-1 mr-sm-2 control-label" id="ContractId">
                    <option>{{ contract }}</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
           
            <div>        
                <span class="badge badge-secondary">
                    {{ rows_contract }} 
                </span>
                / 
                <span class="badge badge-dark">
                    {{ rows_item }}
                </span>
            </div>
        </div>

    </div>

    {% if app.user != null %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Pol.</th>
                    <th scope="col">Název</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Nadřazená pol.</th>
                    <th scope="col">Varianta</th>
                    <th scope="col">Uživatel</th>
                </tr>
            </thead>
            <tbody>
                {% for row in XXX %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.typeId }}</td>
                        <td>{{ row.upperId }}</td>
                        <td>{{ row.variantId }}</td>
                        <td>{{ row.user.username }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% endif %}




    {% if app.user == null %}
        <div class="alert alert-info" role="alert">
            This is a info alert with <a href="/login" class="alert-link">You need to login to see the list 😜😜 >></a>
        </div>
    {% endif %}

{% endblock %}